*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'HarmoniaSansProCyr-Regular',Arial,sans-serif;
}

@mixin my-display-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin my-container-dimension{
  height: 80%;
  width: 80%;
}

$bg-primary-color: #FFFFFF;
$bg-secondary-color: #FFE7D2;
$text-primary-color: #58402C;
$text-link-color: #2E4691;

header {
  background-color: $bg-primary-color;
  @include my-display-flex;

  .container{
    @include my-container-dimension;

    nav{
      min-height: 35%;
      border-bottom: 1px solid $text-primary-color;
      color: $text-primary-color;
      @include my-display-flex;

      .logo-bar{
        @include my-display-flex;
        width: 50%;
        justify-content: flex-start;

        h1{
          padding-left: 10px;
        }
      }
      .menu-bar{
        width: 50%;
        ul{
          @include my-display-flex;
          justify-content: flex-end;
          list-style: none;

          li{
            padding-right: 35px;
          }

          button{
            margin-right:35px;
          }

        } //ul

      } //menubar

    } //nav

    #jumbotron{
      @include my-display-flex;
      .left-jumbo {


      } // left-jumbo

      .right-jumbo {

        img{
          width: 570px;
        }

      } //right-jumbo

    } // jumbotron

  } // container

} //header

#bloccoUno{
  background-color: $bg-secondary-color;
  height: 300px;
  @include my-display-flex;

  .container{
    background-color: black;
    @include my-container-dimension;
  }

}

#bloccoDue{
  background-color: $bg-primary-color;
  height: 300px;
  @include my-display-flex;

  .container{
    background-color: black;
    @include my-container-dimension;
  }

}

#bloccoTre{
  background-color: $bg-secondary-color;
  height: 300px;
  @include my-display-flex;

  .container{
    background-color: black;
    @include my-container-dimension;
  }

}

footer{
  background-color: $bg-primary-color;
  height: 300px;
  @include my-display-flex;

  .container{
    background-color: black;
    @include my-container-dimension;
  }
}
