*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'HarmoniaSansProCyr-Regular',Arial,sans-serif;
  list-style: none;
}

@mixin my-display-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin my-container-dimension{
  height: 80%;
  width: 80%;
}

@mixin my-padding-container-stretto{
  padding: 50px 250px;
}

// COLORS

$bg-primary-color: #FFFFFF;
$bg-secondary-color: #FFE7D2;
$text-primary-color: #58402C;
$text-link-color: #2E4691;

// FONTS SIZE

// SIZE IMAGE width
$img-medium-size: 280px;
$img-large-size: 768px;


// Regole GENERALI
.immaginemedia{
  width: $img-medium-size;
}


//  ***************************BLOCCO header**************************

header {
  background-color: $bg-primary-color;
  @include my-display-flex;
  @include my-padding-container-stretto;

  .container{
    @include my-container-dimension;

    nav{
      min-height: 35%;
      border-bottom: 1px solid $text-primary-color;
      color: $text-primary-color;
      @include my-display-flex;

      .logo-bar{
        @include my-display-flex;
        width: 50%;
        justify-content: flex-start;

        h1{
          padding-left: 10px;
        }
      }
      .menu-bar{
        width: 50%;
        ul{
          @include my-display-flex;
          justify-content: flex-end;

          li{
            padding-right: 35px;
          }

          button{
            margin-right:35px;
          }

        } //ul

      } //menubar

    } //nav

    #jumbotron{
      @include my-display-flex;
      .left-jumbo {


      } // left-jumbo

      .right-jumbo {

        img{
          width: 570px;
        }

      } //right-jumbo

    } // jumbotron

  } // container

} //header

// *************************** BLOCCO UNO ***************************

#bloccoUno{
  background-color: $bg-secondary-color;
  @include my-display-flex;
  @include my-padding-container-stretto;
  text-align: center;

  .container{
    @include my-container-dimension;

    & > *{
      padding: 50px 150px;
    }

    .immagini-mini-bloccoUno{
      @include my-display-flex;

      .bloccoimmagine{
        justify-content: center;

        & > *{
          padding-bottom: 20px;
        }

        img{
          max-width: 50%;

        }

        #gattoscudo{
          max-width: 28%;

        }

      } // bloccoimmagine

    } // immagini-mini-bloccoUno

    .blocco-immagine-media{

      &:nth-child(3){
        border-bottom: 1px solid $text-primary-color;
      }

      img{
        width: $img-medium-size;
        padding-right: 15px;
      }

    } // immagine grande

  } // container

}

// *************************** BLOCCO DUE ***************************

#bloccoDue{
  background-color: $bg-primary-color;
  @include my-display-flex;

  .screenshot{
    width: $img-large-size;
  }

  .container{
    @include my-container-dimension;

    .screenshot-testodx{
      @include my-display-flex;

    } // dx

    .screenshot-testosx{
      @include my-display-flex;

    } // sx

  } // container

} // blocco due

// // *************************** BLOCCO TRE ***************************

#bloccoTre{
  background-color: $bg-secondary-color;
  @include my-display-flex;
  @include my-padding-container-stretto;

  .container{
    @include my-container-dimension;
    text-align: center;
    padding: 0px 220px;

    & > div{
      padding: 50px 150px;
    }

    .lettera-founder{
      text-align: left;
      background-color: white;
      padding: 20px;

      .minifooter{
        @include my-display-flex;
        padding-top: 20px;
        justify-content: flex-start;

      }



    }
  }

}

// *************************** BLOCCO FOOTER ***************************

footer{
  background-color: $bg-primary-color;
  @include my-padding-container-stretto;
  @include my-display-flex;

  .container{
    @include my-container-dimension;
    @include my-display-flex;

    .logo-bar{
      display: flex;
      width: 30%;

      & > *{
        padding-left: 20px;
      }
    } // logo bar

    .liste-footer{
      display: flex;
      width: calc(100% - 30%);

      & > *{
        padding-left: 70px;
      }

      .lista{
        line-height: 35px;
      }
    } //liste footer

  } // container
}
